@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 1000px;
  margin: auto;
}

/* rental previews / list */
.rental-preview {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.rental-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.rental-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
  margin-right: 5px;
}

.rental-preview h5 {
  color: #f1356d;
  margin-right: 5px;
}

.rental-preview div {
  width: 25%;
  display: inline-block;
}

.rental-preview a {
  text-decoration: none;
}

.rental-preview button {
  width:fit-content;
  height:fit-content;
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  float: right;
  margin: 15px 0;
}

.rental-search {
  display: grid;
  border-bottom: 1px solid #fafafa;
  margin: 20px 0;
}

.rental-search input {
  border-radius: 4px;
  border: 2px solid #ccc;
  padding: 15px;
  margin: 20px 0;
}

/* Add Rental form */
.AddRental {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}
.AddRental label {
  text-align: left;
  display: block;
}
.AddRental h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.AddRental input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.AddRental button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Not found */

.not-found h2 {
  font-size: 20px;
  margin: 20px auto;
}

.not-found a {
  color: #f1356d;
  text-decoration: none;
}
